################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/cesarWord/.vs/cesarWord/v16/Server/sqlite3
